{% extends 'base.html' %}

{% block content %}

    <form method="post">
        <input value="Главная страница" type="button" onclick="location.href='{% url "index" %}';">
    </form>
        <ul>
            {% for todolist in todolist_ %}
            <h4>
                <input value="{{ todolist.tasks }} (Выполнить {{ todolist.date_and_time_of_creation| date:"H:i d-m-Y" }})" type="button" onclick="location.href='{% url "detail" todolist.id %}'">
            </h4>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>

    <form method="post">
        <input value="Добавить задание" type="button" onclick="location.href='{% url "create" %}';">
    </form>

{% endblock content %}